<div class="row mb-2">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <b>Address</b>
            </div>
            <div class="card-body">
                <address>
                    <b>Sai Palace Co-Opertive Housing Society LTD,<br>
                    Goddev Naka,<br>
                    Bhayandar East,<br>
                    Thane - 401105,</b>
                </address>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <!-- <div #gmap></div> -->
        <div #gmap style="width:100%;height:200px"></div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <b>Member Details</b>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 mb-3" *ngFor='let member of this.memberdetails;let i = index'>
                <app-memberdetails [data]="member"></app-memberdetails>
            </div>
        </div>
    </div>
</div>