<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a [routerLink]="[ '/momlist']" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        <!-- <img src="data/image0.jpeg" width="150" height="40"> -->
        <img src="data/saipalace.jpg" width="170" height="40">
    </a>
    <div class="col-md-3 text-end">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 nav-pills">
            <li><a href="#" class="nav-link px-2" [routerLink]="[ '/momlist']" routerLinkActive='active'>Home</a></li>
            <!-- <li><a href="#" class="nav-link px-2 link-dark">Features</a></li> -->
            <!-- <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li> -->
            <!-- <li><a href="#" class="nav-link px-2 link-dark" [routerLink]="[ '/momadd'] " routerLinkActive='active'>Add Details</a></li> -->
            <li><a href="#" class="nav-link px-2" [routerLink]="[ '/aboutus'] " routerLinkActive='active'>About Us</a></li>


            <!-- *ngIf=" isLoggedIn | async" -->
            <li>
                <a class="fa fa-power-off nav-link px-2 mt-1" (click)="signout()" type="button"></a>
            </li>
            <!-- <button type="button" class="btn btn-outline-primary me-2" (click)="signout()">Logout</button> -->
        </ul>

        <!-- <button type="button" class="btn btn-primary">Sign-up</button> -->
    </div>
</header>
<div class='container'>
    <router-outlet></router-outlet>
</div>